<footer>
  <div class="container">
    <div class="middle-text">
      <p>
        <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
      </p>
      <p>
        Copyright © Collabler
      </p>
    </div>
  </div>
</footer>