.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-outer {
  border: none;
}

.devise-link {
  margin: 40px 0;
}

.register-top {
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-outer {
    background-color: #fafafa;
  }
}