<% post.comments.each do |comment| %>
  <div class="mb-1">
    <% if comment.user == current_user %>
      <%= link_to post_comment_path(post.id, comment), method: :delete, remote: true, class: "delete-comment" do %>
        <i class="far fa-times-circle"></i>
      <% end %>
    <% end %>
    <%= link_to comment.user.username, user_path(comment.user), remote: true, class: "text-dark font-weight-bold" %>
    <%= comment.comment %>
  </div>
<% end %>