<% posts.each do |post| %>
  <div class="col-4 mt-4">
    <%= link_to post_path(post) do %>
      <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
    <% end %>
  </div>
<% end %>