<% provide(:title, "Search Result") %>

<div class="main">
  <div class="row mt-5">
    <div class="col-md-10 offset-md-2">
      <h4 class="text-center">検索結果</h4>
      <div class="content-center mt-5">
        <%= paginate @posts %>
      </div>
      <div class="row">
        <%= render "posts/photos_list", {posts: @posts}%>
      </div>
    </div>
  </div>
</div>