body {
  background-color: #fafafa;
  font-size: 14px;
  font-family: Meiryo UI, Arial, "Noto Sans", sans-serif;
  color: #262626;
}

footer {
  margin-top: auto;
}

.middle-block {
  margin: 0 auto;
}

.middle-text {
  display: flex;
  text-align: middle;
}

.right-inline-text {
  margin-left: 80%;
}