@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//general 

body {
  background-color: #fafafa;
  font-size: 14px;
  font-family: Meiryo UI, Arial, "Noto Sans", sans-serif;
  color: #262626;
  a:hover { text-decoration:none }
}

header {
  height: 100px;
  padding-top: 20px;
  background-color: #fafafa;
  opacity: 0.9;
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.main {
  margin: 50px auto;
} 

.content-center {
  display: flex;
  justify-content: center;
}

//nav

.navbar {
  background-color: #fafafa;
  opacity: 0.9;
}

.nav-item {
  margin-left: 20px;
  font-size: 16px;
}

//forms

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-outer {
  border: none;

}

.devise-link {
  margin: 40px 0;
}

//users

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-icon-big {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.profile-username {
  font-size: 36px;
  font-weight: bold;
}

td {
  padding: 10px;
}

//posts

.post-time {
  margin:0;
  color:#999;
  font-size:10px;
}

//comment_list

.delete-comment {
  width: 11px;
  height: 11px;
  float: right;
  margin: 5px 0 0 10px;
}

//card

.card {
  background-color: #fafafa;
}

.card-header {
  background-color: #fafafa;
  border-bottom: none;
}

.card-footer {
  background-color: #fafafa;
  border-top: none;
}

.card-post-new {
  border: none;
}

.card-username {
  font-size: 16px;
  font-weight: bold;
}

.bin {
  font-size: 16px;
}